/*
 * SendPost API
 * SendPost API to send transactional emails reliably
 *
 * OpenAPI spec version: 1.0.0
 * Contact: hello@sendx.io
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.ModelsCountStat;
import io.swagger.client.model.ModelsDeleteResponse;
import io.swagger.client.model.ModelsESubAccount;
import io.swagger.client.model.ModelsSubAccount;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AccountsubaccountApi {
    private ApiClient apiClient;

    public AccountsubaccountApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AccountsubaccountApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for subAccountRouterCount
     * @param xAccountApiKey Account API Key (required)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterCountCall(String xAccountApiKey, String filterBy, Long filterValue, String search, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/account/subaccount/count";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (filterBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filterBy", filterBy));
        if (filterValue != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filterValue", filterValue));
        if (search != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("search", search));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAccountApiKey != null)
        localVarHeaderParams.put("X-Account-ApiKey", apiClient.parameterToString(xAccountApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call subAccountRouterCountValidateBeforeCall(String xAccountApiKey, String filterBy, Long filterValue, String search, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xAccountApiKey' is set
        if (xAccountApiKey == null) {
            throw new ApiException("Missing the required parameter 'xAccountApiKey' when calling subAccountRouterCount(Async)");
        }
        

        com.squareup.okhttp.Call call = subAccountRouterCountCall(xAccountApiKey, filterBy, filterValue, search, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Count Total Subaccounts
     * @param xAccountApiKey Account API Key (required)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @return ModelsCountStat
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ModelsCountStat subAccountRouterCount(String xAccountApiKey, String filterBy, Long filterValue, String search) throws ApiException {
        ApiResponse<ModelsCountStat> resp = subAccountRouterCountWithHttpInfo(xAccountApiKey, filterBy, filterValue, search);
        return resp.getData();
    }

    /**
     * 
     * Count Total Subaccounts
     * @param xAccountApiKey Account API Key (required)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @return ApiResponse&lt;ModelsCountStat&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ModelsCountStat> subAccountRouterCountWithHttpInfo(String xAccountApiKey, String filterBy, Long filterValue, String search) throws ApiException {
        com.squareup.okhttp.Call call = subAccountRouterCountValidateBeforeCall(xAccountApiKey, filterBy, filterValue, search, null, null);
        Type localVarReturnType = new TypeToken<ModelsCountStat>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Count Total Subaccounts
     * @param xAccountApiKey Account API Key (required)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterCountAsync(String xAccountApiKey, String filterBy, Long filterValue, String search, final ApiCallback<ModelsCountStat> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = subAccountRouterCountValidateBeforeCall(xAccountApiKey, filterBy, filterValue, search, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ModelsCountStat>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for subAccountRouterCreate
     * @param xAccountApiKey Account API Key (required)
     * @param body The SubAccount content (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterCreateCall(String xAccountApiKey, ModelsESubAccount body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/account/subaccount/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAccountApiKey != null)
        localVarHeaderParams.put("X-Account-ApiKey", apiClient.parameterToString(xAccountApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call subAccountRouterCreateValidateBeforeCall(String xAccountApiKey, ModelsESubAccount body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xAccountApiKey' is set
        if (xAccountApiKey == null) {
            throw new ApiException("Missing the required parameter 'xAccountApiKey' when calling subAccountRouterCreate(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling subAccountRouterCreate(Async)");
        }
        

        com.squareup.okhttp.Call call = subAccountRouterCreateCall(xAccountApiKey, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param body The SubAccount content (required)
     * @return ModelsSubAccount
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ModelsSubAccount subAccountRouterCreate(String xAccountApiKey, ModelsESubAccount body) throws ApiException {
        ApiResponse<ModelsSubAccount> resp = subAccountRouterCreateWithHttpInfo(xAccountApiKey, body);
        return resp.getData();
    }

    /**
     * 
     * Create SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param body The SubAccount content (required)
     * @return ApiResponse&lt;ModelsSubAccount&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ModelsSubAccount> subAccountRouterCreateWithHttpInfo(String xAccountApiKey, ModelsESubAccount body) throws ApiException {
        com.squareup.okhttp.Call call = subAccountRouterCreateValidateBeforeCall(xAccountApiKey, body, null, null);
        Type localVarReturnType = new TypeToken<ModelsSubAccount>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param body The SubAccount content (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterCreateAsync(String xAccountApiKey, ModelsESubAccount body, final ApiCallback<ModelsSubAccount> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = subAccountRouterCreateValidateBeforeCall(xAccountApiKey, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ModelsSubAccount>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for subAccountRouterDelete
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to delete (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterDeleteCall(String xAccountApiKey, Long subAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/account/subaccount/{subAccountId}"
            .replaceAll("\\{" + "subAccountId" + "\\}", apiClient.escapeString(subAccountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAccountApiKey != null)
        localVarHeaderParams.put("X-Account-ApiKey", apiClient.parameterToString(xAccountApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call subAccountRouterDeleteValidateBeforeCall(String xAccountApiKey, Long subAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xAccountApiKey' is set
        if (xAccountApiKey == null) {
            throw new ApiException("Missing the required parameter 'xAccountApiKey' when calling subAccountRouterDelete(Async)");
        }
        
        // verify the required parameter 'subAccountId' is set
        if (subAccountId == null) {
            throw new ApiException("Missing the required parameter 'subAccountId' when calling subAccountRouterDelete(Async)");
        }
        

        com.squareup.okhttp.Call call = subAccountRouterDeleteCall(xAccountApiKey, subAccountId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to delete (required)
     * @return ModelsDeleteResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ModelsDeleteResponse subAccountRouterDelete(String xAccountApiKey, Long subAccountId) throws ApiException {
        ApiResponse<ModelsDeleteResponse> resp = subAccountRouterDeleteWithHttpInfo(xAccountApiKey, subAccountId);
        return resp.getData();
    }

    /**
     * 
     * Delete SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to delete (required)
     * @return ApiResponse&lt;ModelsDeleteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ModelsDeleteResponse> subAccountRouterDeleteWithHttpInfo(String xAccountApiKey, Long subAccountId) throws ApiException {
        com.squareup.okhttp.Call call = subAccountRouterDeleteValidateBeforeCall(xAccountApiKey, subAccountId, null, null);
        Type localVarReturnType = new TypeToken<ModelsDeleteResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Delete SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to delete (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterDeleteAsync(String xAccountApiKey, Long subAccountId, final ApiCallback<ModelsDeleteResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = subAccountRouterDeleteValidateBeforeCall(xAccountApiKey, subAccountId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ModelsDeleteResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for subAccountRouterGet
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId the SubAccountId you want to get (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterGetCall(String xAccountApiKey, Long subAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/account/subaccount/{subAccountId}"
            .replaceAll("\\{" + "subAccountId" + "\\}", apiClient.escapeString(subAccountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAccountApiKey != null)
        localVarHeaderParams.put("X-Account-ApiKey", apiClient.parameterToString(xAccountApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call subAccountRouterGetValidateBeforeCall(String xAccountApiKey, Long subAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xAccountApiKey' is set
        if (xAccountApiKey == null) {
            throw new ApiException("Missing the required parameter 'xAccountApiKey' when calling subAccountRouterGet(Async)");
        }
        
        // verify the required parameter 'subAccountId' is set
        if (subAccountId == null) {
            throw new ApiException("Missing the required parameter 'subAccountId' when calling subAccountRouterGet(Async)");
        }
        

        com.squareup.okhttp.Call call = subAccountRouterGetCall(xAccountApiKey, subAccountId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Find SubAccount by SubAccountId
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId the SubAccountId you want to get (required)
     * @return ModelsSubAccount
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ModelsSubAccount subAccountRouterGet(String xAccountApiKey, Long subAccountId) throws ApiException {
        ApiResponse<ModelsSubAccount> resp = subAccountRouterGetWithHttpInfo(xAccountApiKey, subAccountId);
        return resp.getData();
    }

    /**
     * 
     * Find SubAccount by SubAccountId
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId the SubAccountId you want to get (required)
     * @return ApiResponse&lt;ModelsSubAccount&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ModelsSubAccount> subAccountRouterGetWithHttpInfo(String xAccountApiKey, Long subAccountId) throws ApiException {
        com.squareup.okhttp.Call call = subAccountRouterGetValidateBeforeCall(xAccountApiKey, subAccountId, null, null);
        Type localVarReturnType = new TypeToken<ModelsSubAccount>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Find SubAccount by SubAccountId
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId the SubAccountId you want to get (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterGetAsync(String xAccountApiKey, Long subAccountId, final ApiCallback<ModelsSubAccount> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = subAccountRouterGetValidateBeforeCall(xAccountApiKey, subAccountId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ModelsSubAccount>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for subAccountRouterGetAll
     * @param xAccountApiKey Account API Key (required)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterGetAllCall(String xAccountApiKey, Long offset, Long limit, String filterBy, Long filterValue, String search, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/account/subaccount/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (filterBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filterBy", filterBy));
        if (filterValue != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filterValue", filterValue));
        if (search != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("search", search));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAccountApiKey != null)
        localVarHeaderParams.put("X-Account-ApiKey", apiClient.parameterToString(xAccountApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call subAccountRouterGetAllValidateBeforeCall(String xAccountApiKey, Long offset, Long limit, String filterBy, Long filterValue, String search, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xAccountApiKey' is set
        if (xAccountApiKey == null) {
            throw new ApiException("Missing the required parameter 'xAccountApiKey' when calling subAccountRouterGetAll(Async)");
        }
        

        com.squareup.okhttp.Call call = subAccountRouterGetAllCall(xAccountApiKey, offset, limit, filterBy, filterValue, search, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Get All SubAccounts
     * @param xAccountApiKey Account API Key (required)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @return List&lt;ModelsSubAccount&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ModelsSubAccount> subAccountRouterGetAll(String xAccountApiKey, Long offset, Long limit, String filterBy, Long filterValue, String search) throws ApiException {
        ApiResponse<List<ModelsSubAccount>> resp = subAccountRouterGetAllWithHttpInfo(xAccountApiKey, offset, limit, filterBy, filterValue, search);
        return resp.getData();
    }

    /**
     * 
     * Get All SubAccounts
     * @param xAccountApiKey Account API Key (required)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @return ApiResponse&lt;List&lt;ModelsSubAccount&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ModelsSubAccount>> subAccountRouterGetAllWithHttpInfo(String xAccountApiKey, Long offset, Long limit, String filterBy, Long filterValue, String search) throws ApiException {
        com.squareup.okhttp.Call call = subAccountRouterGetAllValidateBeforeCall(xAccountApiKey, offset, limit, filterBy, filterValue, search, null, null);
        Type localVarReturnType = new TypeToken<List<ModelsSubAccount>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get All SubAccounts
     * @param xAccountApiKey Account API Key (required)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @param filterBy filterBy (optional)
     * @param filterValue filterValue (optional)
     * @param search search term (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterGetAllAsync(String xAccountApiKey, Long offset, Long limit, String filterBy, Long filterValue, String search, final ApiCallback<List<ModelsSubAccount>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = subAccountRouterGetAllValidateBeforeCall(xAccountApiKey, offset, limit, filterBy, filterValue, search, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ModelsSubAccount>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for subAccountRouterUpdate
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to update (required)
     * @param body The body (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterUpdateCall(String xAccountApiKey, Long subAccountId, ModelsESubAccount body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/account/subaccount/{subAccountId}"
            .replaceAll("\\{" + "subAccountId" + "\\}", apiClient.escapeString(subAccountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAccountApiKey != null)
        localVarHeaderParams.put("X-Account-ApiKey", apiClient.parameterToString(xAccountApiKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call subAccountRouterUpdateValidateBeforeCall(String xAccountApiKey, Long subAccountId, ModelsESubAccount body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'xAccountApiKey' is set
        if (xAccountApiKey == null) {
            throw new ApiException("Missing the required parameter 'xAccountApiKey' when calling subAccountRouterUpdate(Async)");
        }
        
        // verify the required parameter 'subAccountId' is set
        if (subAccountId == null) {
            throw new ApiException("Missing the required parameter 'subAccountId' when calling subAccountRouterUpdate(Async)");
        }
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling subAccountRouterUpdate(Async)");
        }
        

        com.squareup.okhttp.Call call = subAccountRouterUpdateCall(xAccountApiKey, subAccountId, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Update SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to update (required)
     * @param body The body (required)
     * @return ModelsSubAccount
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ModelsSubAccount subAccountRouterUpdate(String xAccountApiKey, Long subAccountId, ModelsESubAccount body) throws ApiException {
        ApiResponse<ModelsSubAccount> resp = subAccountRouterUpdateWithHttpInfo(xAccountApiKey, subAccountId, body);
        return resp.getData();
    }

    /**
     * 
     * Update SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to update (required)
     * @param body The body (required)
     * @return ApiResponse&lt;ModelsSubAccount&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ModelsSubAccount> subAccountRouterUpdateWithHttpInfo(String xAccountApiKey, Long subAccountId, ModelsESubAccount body) throws ApiException {
        com.squareup.okhttp.Call call = subAccountRouterUpdateValidateBeforeCall(xAccountApiKey, subAccountId, body, null, null);
        Type localVarReturnType = new TypeToken<ModelsSubAccount>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Update SubAccount
     * @param xAccountApiKey Account API Key (required)
     * @param subAccountId The SubAccountId you want to update (required)
     * @param body The body (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call subAccountRouterUpdateAsync(String xAccountApiKey, Long subAccountId, ModelsESubAccount body, final ApiCallback<ModelsSubAccount> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = subAccountRouterUpdateValidateBeforeCall(xAccountApiKey, subAccountId, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ModelsSubAccount>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
